@model TripAgency.EF.Anno

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Anno</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Año")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anno1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdAnno }) |
    @Html.ActionLink("Ir Atras", "Index")
</p>
