@using TripAgency.EF
@model TripAgency.EF.AspNetUsers

@{
    ViewBag.Title = "Eliminar Usuario";
    var db = new TripAgencyEntities();
    var nameUser = "";
    var userId = Model.Id;
}
<h2>Eliminar Usuario</h2>
@{
    var find = db.AspNetUsers.Find(Model.Id);
}
<h3 style="color: red">Está seguro que desea eliminar el usuario @if (find != null){@Html.DisplayName(find.UserName)}?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
           
                    <dd>
                        @Html.DisplayName(Model.UserName)
                    </dd>
     

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <button type="submit" value=@userId class="btn btn-default" name="userId">Eliminar Usuario </button>
            @Html.ActionLink("Listado Usuario", "Index","Account")
        </div>
    }
</div>
